---
const pageTitle = "About us";
const devlog = "DevLogs";
const home = "Home";

const membersNames = [
    "Ruan Diego Velloso Cardozo",
    "Maruan Biasi El Achkar",
    "Thiago de Freitas Saraiva",
    "Victor Matheus Moreira",
    "Jessica Roecker Arns",
    "João Antônio David",
    "Murilo Calixto Nascimento"
];

const teamNames = [ 
    "CyberPAC 2D ART & UX/UI",
    "CyberPAC 3D ART",
    "CyberPAC SOUND",
    "CyberPAC PROGRAMMING",
    "CyberPAC WEB",
    "CyberPAC GAME DESIGN"
];


const skills = [
  "HTML", 
  "CSS", 
  "JavaScript", 
  "React", 
  "Astro", 
  "Documentar", 
  "C#", 
  "Unity HUB", 
  "3D", 
  "Sounds" 
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">{home}</a>
    <a href="/aboutus/">{pageTitle}</a>
    <a href="/devlogs/">{devlog}</a>
    <h1>{pageTitle}</h1>

    <p>Aqui está um pouco sobre o time: </p>
    <ul>
      <li>
        <h2>{teamNames[0]}</h2>
        <a> {membersNames[5]} </a>
      </li>
      <li>
        <h2>{teamNames[1]}</h2>
        <p>{membersNames[1]}</p>
      </li>
      <li>
        <h2>{teamNames[2]}</h2>
        <p>{membersNames[6]}</p>
      </li>
      <li>
        <h2>{teamNames[3]}</h2>
        <p>{membersNames[4]}</p>
      </li>
      <li>
        <h2>{teamNames[4]}</h2>
        <p>{membersNames[0]}</p>
      </li>
      <li>
        <h2>{teamNames[5]}</h2>
        <p>{membersNames[2]}</p>
      </li>
      <li>
        <h2>{teamNames[0]}</h2>
        <a> {membersNames[5]} </a>
      </li>
    </ul>

      </body>
  </html>






