---
const pageTitle = 'CyberPAC Blog';
const home = 'Home';
const aboutus = 'About Us';
const devlogs = 'DevLogs';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
		<a href="/">{home}</a>
		<a href="/aboutus/">{aboutus}</a>
		<a href="/devlogs/">{devlogs}</a>
		<h1>{pageTitle}</h1>
	</body>
</html>
